{% extends "base.html" %}
{% load static %}

{% block title %}
Home
{% endblock title %}

{% block content %}

<style>
    form.filter {
        margin: 30px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: baseline;
        align-items: center;
        gap: 20px;
    }
</style>


<div class="main_content_iner overly_inner ">
    <div class="container-fluid p-0 ">

        <form method="post" class="filter"> {% csrf_token %}
            <select name="region" id="">
                <option value="-------------">-------------</option>
                <option value="1">Ташкент вилояти</option>
                <option value="2">Андижон вилояти</option>
                <option value="3">Бухоро вилояти</option>
                <option value="4">Фарғона вилояти</option>
                <option value="5">Жиззах вилояти</option>
                <option value="6">Наманган вилояти</option>
                <option value="7">Самарқанд вилояти</option>
                <option value="8">Сирдарё вилояти</option>
                <option value="9">Қашқадарё вилояти</option>
                <option value="10">Сурхондарё вилояти</option>
                <option value="11">Хоразм вилояти</option>
                <option value="12">Қорақалпоғистон Республикаси</option>
            </select>
            <label for="">
                <b>ташкилот ид:</b>
                <input name="organizations" type="number">
            </label>
            <select name="position" id="">
                <option value="">-------------</option>
                <option value="1">Раҳбар</option>
                <option value="2">Раҳбар ўринбосари</option>
                <option value="3">Бошқа</option>
            </select>

            <button>Жўнатиш</button>

        </form>

        <div class="row">
            <div class="white_card mb_30 card_height_100">
                <div class="white_card_body pt-0">
                    <div class="QA_section">
                        <div class="QA_table mb-0 transaction-table">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Исми</th>
                                            <th>телефони</th>
                                            <th>унвони</th>
                                            <th>Вилояти</th>
                                            <th>Ташкилоти</th>
                                            <th>ид</th>
                                            <th>бошқариш</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if users %}
                                        {% for user in users %}
                                        <tr>
                                            <td>{{ user.name }}</td>
                                            <td>{{ user.phone }}</td>
                                            <td>{{ user.position }}</td>
                                            <td>{{ user.region }}</td>
                                            <td>{{ user.organizations }}</td>
                                            <td>{{ user.user_id }}</td>
                                            <td>
                                                <a href="{% url 'index:details' user.pk %}">details</a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}