{% load static %}

<nav class="sidebar dark_sidebar">
    <div class="logo d-flex justify-content-between">
        <a class="large_logo" href=" {% static 'index.html' %} "><img src=" {% static 'img/logo_white.png' %} "
                alt=""></a>
        <a class="small_logo" href=" {% static 'index.html' %} "><img src=" {% static 'img/mini_logo.png' %} "
                alt=""></a>
        <div class="sidebar_close_icon d-lg-none">
            <i class="ti-close"></i>
        </div>
    </div>
    <ul id="sidebar_menu" class="metismenu">
        <li class="">
            <a class=" nav_title" href="{% url 'index:index' %}" aria-expanded="true">
                <img src=" {% static 'img/menu-icon/1.svg' %} " alt="">
                Home
            </a>
        </li>
        <li class="">
            <a class=" nav_title" href="{% url 'index:verifay' %}" aria-expanded="true">
                <img src=" {% static 'img/menu-icon/1.svg' %} " alt="">
                Tasdiqlash
            </a>
        </li>
        <li class="">
            <a class="nav_title" href="{% url 'index:xabar_yuborish' %}" aria-expanded="true">
                <img src=" {% static 'img/menu-icon/Mail_Box.svg' %} " alt="">
                Xabar yuborish
            </a>
        </li>

    </ul>
</nav>